*{
    margin: 0;
    padding: 0;
    color: #2f3e46;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}  

.wrapper{
    width: 350px;
    height: 80vh;
    background: #F3F6F5;
    margin:50px auto;
    position: relative;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
}
  .custom-shape-divider-top-1720741331 {
    position: absolute;
    top: 0;
    left: 0;
    width: 218;
    overflow: hidden;
    line-height: 0;
    border-radius: 2rem;

}

.custom-shape-divider-top-1720741331 svg {
    position: relative;
    display: block;
    width: calc(179% + 1.3px);
    height: 30vh;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1720741331 .shape-fill {
    fill:#52796f;
}
.wrapper .custom-shape-divider-top-1720741331 img {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    position: absolute;
    top: 50px;
    left: calc(75% / 2);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.wrapper .content{
    padding-top: 200px;
}
.wrapper .content h2{
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
}
.wrapper .content .tag{
    opacity: 0.6;
    font-size: 13px;
    font-weight: 100;
}
.wrapper .content .socials-links{
    margin: 25px auto;
}
.wrapper .content .socials-links a {
    margin-left: 15px;
    font-size: 20px;
}
.wrapper .content .socials-links a i{
    transition: transform 0.2s;
}
.wrapper .content .socials-links a i:hover {
    transform: scale(1.3); 
}
.wrapper .content p {
    padding: 0px 30px 10px 30px;
    font-size: 12px;
    text-align: justify;
    line-height: 0.7rem;
    color: #000000c8;
}
.wrapper .content .btns{
    padding-top: 20px;
}
.wrapper .content .btns button {
    cursor: pointer;
    padding: 10px 40px;
    margin-left: 20px;
    border-radius: 20px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: all 300ms ease-in-out;
    color: #fff;
    background: #2f3e46;
    font-size: 15px;
    height: 40px;
}
.wrapper .content .btns button:first-child{
    margin-left: 0;
}
.wrapper .content .btns .clear-bg{
    background: transparent;
    border: 0.02rem solid #84a98c;
    color: #84a98c;
}
.wrapper .content .btns button:hover{
    background: #52796f;
    color: #fff;
}
